@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*******************************************************************************
* This is a container that encapsultes all the elements
*******************************************************************************/
.container {
    background-color: rgba(237, 216, 221, 1);
    /*height: 500px;*/

    color: #fff;
    font-family: 'LeagueGothicRegular', sans-serif;
    margin: 0 auto;
    max-width: 960px;
    min-width: 320px;
}

header {
    margin-top: 59px;
}

/*******************************************************************************
* PINGBULLER Logo
*******************************************************************************/
.brandname {
    color: #fff;
    display: block;
    font-size: 49px;
    float: left;
    letter-spacing: -0.9px;
    /* The rihght margin is set to push the menue to the right border*/
    margin-right: 175px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.brandname > span {
    color: #33263a;
    /*
    *  Gradient font color works only on Webkit browsers.
    */
    background: -webkit-linear-gradient(#745083, #33263a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* End of gradient color */
    text-shadow: none;
}

/******************************************************************************
* Top Hrizontal Menu
******************************************************************************/
.menu {
    float: right;
    margin: 12px 0 0 0px;
    /*margin-top: 12px;*/
    padding: 0;
}

.menu__item {
    display: block;
    float: left;
    margin-left: 52px;
}

.menu__item:first-child {
    margin-left: 0px;
}

.menu__link {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu__link:hover {
    border-bottom: solid 2px #edbfff;
}

/******************************************************************************
* Top Vertical Menu
******************************************************************************/
/* Selected Item */
.menu--selected {
    display: none;
    margin: 18px auto 0 auto;
    padding: 0;
    width: 246px;
}

.menu__item--selected {
    color: #fff;
    /*border-bottom: 2px solid #503d57;*/
    /*border-image: url("../img/menu_border.png") round;
    border-image: linear-gradient(#35273d, #503d57);*/
    display: block;
    font-size: 24px;
    line-height: 38px;
    margin-left: 0px;
    position: relative;
    text-align: center;
    text-decoration: underline;
}

.menu--selected > .menu__item--selected:hover > .menu--vertical {
    /*  Activates popup menu */
    display: block;
}

/* popup menu */
.menu--vertical {
    background-color: #36293e;
    border: 1px solid #051116;
    border-radius: 10px;
    opacity: 0.9;
    width: 244px;
    margin: 0px auto;
    padding: 0;
    position: absolute;
    top: -1px;
    z-index: 1;
}

.menu__item--vertical {
    border-bottom: 2px solid #503d57;
    /*border-image: url("../img/menu_border.png") round;
    border-image: linear-gradient(#35273d, #503d57);*/
    display: block;
    line-height: 38px;
    margin-left: 0px;
    text-align: center;
}

.menu__item--vertical:last-child {
    /* Hiding the separation line for the last menu item*/
    border-bottom: 0px;
}

.menu__item--vertical:hover {
    /* Underlining the active menu item */
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #fff;
}

.menu__item--vertical:first-child:hover {
    /* Rounding top corners of the first active menu item */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu__item--vertical:last-child:hover {
    /* Underlining the last active menu item */
    border-radius: 10px;
}

.menu__link--vertical {
    display: block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0%;
}

/******************************************************************************
* clearfix
******************************************************************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/******************************************************************************
*    Width: between 768px and 959px
******************************************************************************/
@media screen and (max-width: 959px) {
    /* Move the Top Menu to the next line */
    .menu {
        float: left;
        margin-top: 21px;
    }
}

/******************************************************************************
*    Width: between 480px and 767px
******************************************************************************/
@media screen and (max-width: 767px) {
    /* Center PINGBULLER Logo */
    .brandname {
        float: none;
        margin-right: 0;
        text-align: center;
    }
    /* Replace horizontal menu vith vertical one. */
    .menu {
        display: none;
    }

    .menu--selected {
        display: block;
    }

    .menu--vertical {
        display: none;
    }
}

/******************************************************************************
*    Width: less then 480px
******************************************************************************/
@media screen and (max-width: 479px) {
}
