body {
    background-color: #0c739f;
    background-image: url("../img/background.jpg");
    background-repeat: repeat-x;
    font-family: Tahoma;
    padding-top: 38px;
}

.container {
    background: #fff;
    border-bottom: 3px solid #031d28;
    /*box-shadow: 0 0 3px 3px #084d6a;*/
    margin: 0 auto;
    padding-top: 11px;
    position: relative;
    width: 1000px;
}

/********************************************************************
*  Logo, Adress and Large picture
********************************************************************/
.company {
    position: relative;
}

.logo {
    display: block;
    height: 164px;
    margin-left: 28px;
}

/* Наши контакты*/
.contacts {
    position: absolute;
    color: #5fa5bb;
    font-size: 11pt;
    line-height: 12pt;
    top: 6px;
    right: 32px;
}

.contacts::first-line {
    font-weight: bold;
    line-height: 16pt;
}

.large_image {
    background-image: url("../img/thebeach.jpg");
    height: 237px;
}

.flags_board {
    position: absolute;
    bottom: 6px;
    right: 32px;
}

a.flag {
    color: #018ea9;
    display: inline-block;
    font-size: 11px;
    height: 56px;
    text-align: center;
    text-decoration: underline;
    width: 56px;
}

/********************************************************************
*  Horisontal Menu
********************************************************************/
.h_menu {
    background-color: #333333;
    border-bottom: 1px solid #000;
    border-top: 1px solid #cacbcb;
    height: 28px;
}

/*
*   Horizontal menu
*/
.h_menu > li,
.h_menu  a
 {
    color: #fff;
    display: inline-block;;
    height: 28px;
    font-size: 11pt;
    line-height: 28px;
    margin: 0 9px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
}

/*
*   Popup menu
*/
.h_menu > li > ul
 {
    background-color: #333333;
    display: none;
    left: 0;
    position: absolute;
    top: 29px;
    width: 150px;
    z-index: 1;
}

.h_menu  li > ul a
 {
    margin: 0;
    padding: 1px 10px;
}

.h_menu > li:hover > ul {
    display: block;
}

/********************************************************************
*  Main area
********************************************************************/

.news_wr {
    background: #edeef0;
    float: left;
    overflow: hidden;
    position: relative;
    width: 1000px;
}

.main_wr {
    background: #fff;
    float: left;
    position: relative;
    right: 210px;
    width: 1000px;
}

.info_wr {
    background: #edeef0;
    float: left;
    position: relative;
    right: 580px;
    width: 1000px;
}

.info_col {
    float: left;
    left: 790px;
    position: relative;
    width: 208px;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
}

.main_col {
    float: left;
    left: 790px;
    position: relative;
    width: 580px;
}

.news_col {
    float: left;
    left: 790px;
    position: relative;
    width: 210px;
}

.text_block {
    font-size: 11pt;
    line-height: 24px;
    padding: 15px 15px;
}

/********************************************************************
*  Copyright in the bottom of the page
********************************************************************/
.copyright {
    color: #fff;
    clear: both;
    font-size: 12pt;
    line-height: 31px;
    text-align: center;
}
