.cover {
    display: block;
    margin-top: 54px;
    text-align: center;
}

menu {
    /*background: linear-gradient(#4d5663, #010101);*/
    background-image: url("../img/menu_background.png");
    background-repeat: repeat-x;
    border: solid 1px #2c345a;
    border-radius: 4px;
    height: 33px;
    margin: 5px auto;
    width: 910px;
}
